# Logs
logs
*.log

# misc
.DS_Store

# IDE workspace directories
.idea/

# Dependency directories
node_modules/
public/docs

# Optional npm cache directory
.npm

# dotenv environment variables file
.env.local
.env.test

# build / generate output
dist
